
        @import url('//fonts.googleapis.com/css?family=Roboto:100');
        .logo .title {
            color: #FF9900;
        }
        
        .logo .normal {
            color: #FEFFFD;
            font-family: 'Roboto', sans-serif;
            font-size: 60px;
            line-height: 25px;
            min-height: 125px;
            text-transform: uppercase;
        }
        
        .nav .normal {
            color: #FEFFFD;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 45px;
            text-transform: uppercase;
            z-index: 1;
        }
        
        .nav-mark {
            border-bottom: 1px solid #000000;
            transition: border .2s ease-out, background-color .2s ease-out;
        }
        
        .nav-mark:hover {
            border-bottom: 1px solid #FF9900;
        }
        
        .nav-mark.page-link-active {
            background-color: #FF9900;
        }
        /* home */
        
        .sub-nav.page-link-active {
            width: 250px;
            box-shadow: 0 1px 10px black;
        }
        
        .sub-nav {
            transition: all .15s ease-out;
            color: #FEFFFD;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            line-height: 5px;
            text-transform: uppercase;
            z-index: 1;
        }
        
        .sub-nav .heading1 {
            font-size: 40px;
        }
        
        .normal,
        .heading1 {
            color: #FEFFFD;
            font-weight: 200;
            line-height: 20px;
        }
        
        .white-bg .heading2,
        .white-bg .normal {
            color: black;
        }
        
        .white-bg .heading2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 40px;
            text-transform: capitalize;
            line-height: 0px;
        }
        
        .white-bg .heading2:first-letter {
            background-color: #FF9900;
            color: #FEFFFD;
            padding: 0 10px;
            margin-right: 2px;
        }
        
        .white-bg .normal {
            font-size: 15px;
            font-family: Arial, sans-serif;
            line-height: 20px;
        }
        
        .button-read-more .normal {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            text-transform: capitalize;
            line-height: 30px;
        }
    
        .silex-id-1439554967896-66 {
            left: 0px;
            top: 0px;
            background-color: rgb(0, 0, 0);
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
        }
        
        .silex-id-1490693608162-3 {
            background-color: transparent;
            top: 5px;
            left: 5px;
            min-width: 960px;
        }
        
        .silex-id-1490693608161-2 {
            min-height: 154px;
            background-color: transparent;
            top: 15px;
            left: 100px;
            width: 960px;
        }
        
        .silex-id-1439554966563-53 {
            width: 120px;
            top: 50px;
            left: 815px;
            box-sizing: content-box;
            min-height: 45px;
        }
        
        .silex-id-1439554966767-55 {
            width: 120px;
            top: 50px;
            left: 685px;
            box-sizing: content-box;
            min-height: 45px;
        }
        
        .silex-id-1439554967286-60 {
            width: 180px;
            top: 50px;
            left: 485px;
            box-sizing: content-box;
            min-height: 45px;
        }
        
        .silex-id-1439554966975-57 {
            width: 240px;
            top: 50px;
            left: 210px;
            box-sizing: content-box;
            min-height: 45px;
        }
        
        .silex-id-1502811587912-0 {
            width: 125px;
            min-height: 125px;
            top: 10px;
            left: 11px;
        }
        
        .silex-id-1490693798023-5 {
            background-color: transparent;
            top: 178px;
            left: 5px;
            min-width: 959px;
        }
        
        .silex-id-1490693798022-4 {
            min-height: 555px;
            background-color: transparent;
            top: 15px;
            left: 263px;
            width: 959px;
        }
        
        .silex-id-1439554966458-52 {
            width: 958px;
            top: -14px;
            left: 0px;
            box-sizing: content-box;
            background-color: rgb(0, 0, 0);
            min-height: 530px;
        }
        
        .silex-id-1502827111342-1 {
            width: 959px;
            min-height: 540px;
            top: 40px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502827111342-1 {
                width: 300px;
                min-height: 200px;
                left: 1px;
                top: 41px;
            }
        }
        
        .silex-id-1502746508237-0 {
            width: 925px;
            min-height: 205px;
            top: 54px;
            left: 18px;
        }
        
        .silex-id-1490693931165-7 {
            background-color: transparent;
            top: 747px;
            left: 5px;
            min-width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490693931165-7 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1490693931163-6 {
            min-height: 22px;
            background-color: rgba(0, 0, 0, 1);
            top: 15px;
            left: 214px;
            width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490693931163-6 {
                min-height: 340px;
                top: 0px;
                left: 77px;
                width: 311px;
            }
        }
        
        .silex-id-1439554965432-42 {
            width: 960px;
            top: 0px;
            left: 0px;
            box-sizing: content-box;
            background-color: rgba(0, 0, 0, 1);
            min-height: 20px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1439554965432-42 {
                top: 126px;
                left: 47px;
                width: 216px;
                min-height: 130px;
            }
        }
        
        .silex-id-1490694258064-17 {
            background-color: transparent;
            top: 194px;
            left: 5px;
            border-color: #000000;
            min-width: 960px;
        }
        
        .silex-id-1490694258062-16 {
            min-height: 615px;
            background-color: transparent;
            border-color: #000000;
            top: 15px;
            left: 100px;
            width: 960px;
        }
        
        .silex-id-1502830042950-6 {
            width: 960px;
            min-height: 600px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502830042950-6 {
                min-height: 290px;
            }
        }
        
        .silex-id-1502830073630-7 {
            width: 691px;
            background-color: rgba(0, 0, 0, 1);
            min-height: 410px;
            top: 0px;
            left: 0px;
            opacity: 0.7;
        }
        
        .silex-id-1502787401314-7 {
            width: 615px;
            min-height: 325px;
            top: 25px;
            left: 45px;
        }
        
        .silex-id-1490694152451-11 {
            background-color: transparent;
            top: 150px;
            left: 5px;
            min-width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694152451-11 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1490694152449-10 {
            min-height: 540px;
            background-color: transparent;
            top: 15px;
            left: 100px;
            width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694152449-10 {
                min-height: 265px;
            }
        }
        
        .silex-id-1502830668915-10 {
            width: 960px;
            min-height: 540px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502830668915-10 {
                min-height: 280px;
            }
        }
        
        .silex-id-1502830983953-12 {
            width: 420px;
            background-color: rgba(0, 0, 0, 1);
            min-height: 540px;
            top: 0px;
            left: 0px;
            opacity: 0.7;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502830983953-12 {
                min-height: 200px;
            }
        }
        
        .silex-id-1502830689713-11 {
            width: 400px;
            min-height: 79px;
            top: 200px;
            left: 26px;
        }
        
        .silex-id-1490694217944-13 {
            background-color: transparent;
            top: 171px;
            left: 0px;
        }
        
        .silex-id-1490694217944-12 {
            min-height: 543px;
            background-color: transparent;
        }
        
        .silex-id-1502829336446-3 {
            width: 960px;
            min-height: 690px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502829336446-3 {
                min-height: 350px;
            }
        }
        
        .silex-id-1439554961432-3 {
            width: 935px;
            top: 16px;
            left: 16px;
            box-sizing: content-box;
            min-height: 195px;
        }
        
        .silex-id-1490694237194-15 {
            background-color: transparent;
            top: 150px;
            left: 5px;
            min-width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694237194-15 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1490694237193-14 {
            min-height: 570px;
            background-color: transparent;
            top: 15px;
            left: 545px;
            width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694237193-14 {
                min-height: 784px;
            }
        }
        
        .silex-id-1502786432413-1 {
            width: 960px;
            min-height: 550px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502786432413-1 {
                top: 0px;
                left: 18px;
                width: 405px;
                min-height: 242px;
            }
        }
        
        .silex-id-1502786492545-2 {
            width: 550px;
            background-color: rgba(0, 0, 0, 1);
            min-height: 552px;
            top: -1px;
            left: 410px;
            opacity: 0.7;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502786492545-2 {
                top: 1435px;
                left: 40px;
                width: 414px;
                min-height: 314px;
            }
        }
        
        .silex-id-1502786560076-3 {
            width: 531px;
            min-height: 85px;
            top: 70px;
            left: 10px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502786560076-3 {
                top: 68px;
                left: 10px;
                width: 392px;
                min-height: 79px;
            }
        }
        
        .silex-id-1502786724497-4 {
            width: 140px;
            min-height: 70px;
            top: 180px;
            left: 10px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1502786724497-4 {
                left: 47px;
                top: 1314px;
                width: 392px;
                min-height: 95px;
            }
        }
        
        .silex-id-1503510348506-0 {
            width: 390px;
            min-height: 140px;
            top: 180px;
            left: 150px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1503510348506-0 {
                left: 47px;
                top: 1314px;
                width: 392px;
                min-height: 125px;
            }
        }
        
        .silex-id-1490694042605-9 {
            background-color: transparent;
            top: 931px;
            left: 0px;
            min-width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694042605-9 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1490694042604-8 {
            min-height: 165px;
            background-color: transparent;
            top: 15px;
            left: 101px;
            width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490694042604-8 {
                min-height: 213px;
            }
        }
        
        .silex-id-1502748672832-13 {
            width: 959px;
            min-height: 74px;
            top: 18px;
            left: 1px;
            border-radius: 2px 2px 2px 2px;
        }
        
        .silex-id-1502748540877-12 {
            width: 959px;
            min-height: 56px;
            top: 87px;
            left: 1px;
            border-radius: 2px 2px 2px 2px;
        }
    